<!-- base.html -->
<!DOCTYPE html >
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <link rel="stylesheet" href="{% static 'css/home.css'%}">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <h1>{% block head %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>